body {
  overflow: hidden;
}

.horizontal-scroll {
  position: relative;
  z-index: 2;
}

.horizontal-scroll__wrapper {
  height: 100vh;
  overflow: hidden;
  //&::-webkit-scrollbar {
    //display: none;
  //}
}

.horizontal-scroll_inner {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.horizontal-scroll__items-wrapper {
  display: flex;
  height: 100vh;

  $colors: red, orange, yellow, green, blue, purple, red, orange, yellow, green, blue, purple;
  $repeat: 12;
  $colorCounter: 1;

  @for $i from 1 through $repeat {
    > .horizontal-scroll__item:nth-child(#{length($repeat)}n+#{$i}) {
      background: lighten(nth($colors, $i), 20%);
    }
  }
}

.horizontal-scroll__item {
  width: 100vw;
  min-width: 100vw;
}